[submodule "backend"]
	path = backend
	url = https://github.com/mrowaha/CampusConnect.api.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/mrowaha/CampusConnect.web.git
	branch = dev
