[submodule "backend"]
	path = backend
	url = https://github.com/mrowaha/CampusConnect.api.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/mrowaha/CampusConnect.web.git
	branch = dev
[submodule "frontend turborepo"]
	path = frontend turborepo
	url = https://github.com/ghulamio/CampusConnect.web-turborepo
	branch = main
