[submodule "backend"]
	path = backend
	url = https://github.com/mrowaha/CampusConnect.api.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/mrowaha/CampusConnect.web.git
	branch = dev
[submodule "CampusConnect.web-turborepo"]
	path = CampusConnect.web-turborepo
	url = git@github.com:ghulamio/CampusConnect.web-turborepo.git
